[submodule "linux"]
	path = linux
	url = git@github.com:Nils-TUD/linux-bench.git
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@gitlab.com:Nils-TUD/riscv-pk.git
[submodule "libs/leveldb"]
	path = libs/leveldb
	url = git@gitlab.com:Nils-TUD/m3-leveldb.git
