[submodule "linux"]
	path = linux
	url = git@github.com:Barkhausen-Institut/linux-bench.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:Barkhausen-Institut/buildroot.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:Barkhausen-Institut/riscv-pk.git
[submodule "libs/leveldb"]
	path = libs/leveldb
	url = git@github.com:Barkhausen-Institut/m3-leveldb.git
